header{
	width: 17% !important;
	position: fixed !important;
	top:20px;
	z-index: 1000;
}

#map {
  width: 100%;
  height: 300px;
  background-color: #CCC;
}


.row{
	margin-bottom: 0px !important;
}

.square{
	border-radius: 0px !important;
}

.no-shadow{
	box-shadow: none !important;
}

.no-padding{
	padding: 0 !important;
}

.no-margin{
	margin: 0px !important;
}

#logo{
	border-radius: 0px !important;
	padding: 10px !important;
	line-height: 0 !important;
}

#logo span i{
	font-size: 36px !important;
}

.logo-img{
	width: 70%;
	margin-right: 15px;
}
 
#menu:hover{
	cursor: pointer;
}

#menu{
	vertical-align: top;
	margin-top: 10px;
}

#side-nav{
	/*visibility: none;*/
	display: none;
	width: 17% !important;
	position: fixed !important;
	top:0px;
	z-index: 999;
	height: 100%;
	background-color: #1a237e !important;
	overflow-x: hidden;
	overflow-y: auto;
}

.side-nav-content{
	margin-top: 120px;
}

.side-nav-button{
	width: 100%;
}

.side-nav-button:hover{
	background-color: #ec9b1c;
}

.social{
	text-align: center;
	margin-top: 200px;
}

.fa{
	font-size: 24px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
}

.fa:hover{
	color: #ec9b1c;
	cursor: pointer;
}

@media only screen and (max-width: 1100px) {
  header{
		width: 30% !important;
	}

	#side-nav{
		width: 30% !important;
	}
}

@media only screen and (max-width: 600px) {
  header{
		width: 100% !important;
		top:0px;
	}

	.logo-img{
		width: 70%;
		margin-right: 25px;
	}

	#menu{
		vertical-align: top;
		margin-top: 6%;
	}

	#side-nav{
		width: 100% !important;
	}

	.social{
		margin-top: 20px;
	}
}


/* Content */

.content{
	width: 100%;
	background-color: #a3a3a3;
}

.main-card{
	opacity: 0.9;
}

.main-card:hover{
	opacity: 1.0;
}

.card-image.large{
	height: 430px !important;
	overflow: hidden;
}

.card-image img.large {
	height: 430px;
	width: auto;
}

.card-image.small{
	height: 215px !important;
	overflow: hidden;
}

.card-image img.small {
	height: 215px;
	width: auto;
	min-width: 100%;
}

.action-buttons{
	background-color: #ec9b1c;
	height: 54px;
}

.action{
	width: 100%;
}

.action-dropdown{
	color: white !important;
}

.action-dropdown:hover{
	color: black !important;
}

.action-modal{
	height: 100%;
}

.contenido{
	height: 305px;
}

@media only screen and (min-width: 600px) {
	.large-title{
		margin-left: 300px !important;
	}

	.card-reveal-large{
		padding-top: 60px !important;
	}
}

@media only screen and (max-width: 1100px) {
	.card-image.large{
		height: 430px !important;
		overflow: hidden;
	}

	.card-image img.large {
		height: 430px;
		width: auto;
		min-width: 100%;
	}
}

@media only screen and (max-width: 600px) {
	.content{
		margin-top: 80px;
	}

	.card-image.large, .card-image.small{
		height: 200px !important;
		overflow: hidden;
	}

	.card-image img.large, .card-image img.small {
		min-height: 100%;
		height: auto;
		width: 100%;
	}
}

footer.page-footer{
	margin-top: 0 !important;
}

.link:hover{
	color: #ec9b1c !important;
}

.barra-arriba{
	width: 100%;
	top: 0;
	height: 54px;
}

.breadcrumb-wrapper{
	margin-left: 310px;
	padding-top: 10px;
}

.filtro-wrapper{
	margin-top: -10px;
}

.filtro{
	width: 40%;
	margin-left: 50%;
	height: 54px !important;
	margin-top: 0 !important;
}

.filtro select{
	position: absolute;
	margin-top: 5px;
}

.banner{
	width: 100%;
	height: 400px;
	overflow: hidden;
}

.banner-img{
	width: 100%;
	height: auto;
}

.banner-logo{
	width: 20%;
	height: auto;
	margin-top: -110px;
	margin-left: 200px;
}

@media only screen and (max-width: 1100px) {
	.filtro{
		width: 40%;
		margin-left: 50%;
		height: 54px !important;
		margin-top: 0 !important;
	}
	.filtro select{
		margin-top: -48px;
	}
	.back{
		margin-left: 300px;
	}
	.banner-logo{
		position: absolute;
		width: 30%;
		height: auto;
		top: 350px;
		margin-left: 100px;
	}
}

@media only screen and (max-width: 600px) {
	.barra-arriba{
		width: 100%;
		margin-top: 80px;
		height: 80px;
	}

	.breadcrumb-wrapper{
		margin-left: 0px;
		padding-top: 10px;
	}

	.banner-logo{
		position: absolute;
		width: 40%;
		height: auto;
		top: 350px;
		margin-left: 20px;
	}
	.filtro{
		width: 60%;
		margin-left: 30%;
		height: 54px !important;
		margin-top: 0 !important;
	}
	.filtro select{
		margin-top: -30px;
	}

	.itc-content-wrapper{
		margin-top: -200px;
	}
}

.itc-content{
	width: 100%;
	margin-top: -6px;
}
